<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/smoothness/jquery-ui-1.10.1.custom.css">
        <link rel="stylesheet" href="/css/qtip.css">
        <link rel="stylesheet" href="/css/jquery.fancybox.css">
        <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        {% block menu %}
        {% set navigation_bar = [
            ('/', 'index', '<img src="/img/gamezlogo.png">'),
            ('/events/', 'events', 'Events'),
            ('/settings/', 'settings', 'Settings')
        ] -%}
        {% set active_page = active_page|default('index') -%}
        <nav>
            <ul id="navigation">
            {% for href, id, caption in navigation_bar %}
              <li{% if id == active_page %} class="active"{% endif
              %}><a href="{{ href|e }}">{{ caption }}</a></li>
            {% endfor %}
            </ul>
            <form action="/search/" method="POST">
                <input name="term"/>
                <!-- {{ sy.c.default_platform_select }} -->
                <select name="platform">
                    {% for cur_p in p %}
                    <option value="{{ cur_p.id }}" {% if cur_p.id == sy.c.default_platform_select %}selected{%endif%}>{{ cur_p.name }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Search">
            </form>
        </nav>
        {% endblock %}
    
        <div id="container" class="{{ active_page }}">
        {% block content %}
        <table class="display" cellpadding=0 cellspacing=0 border=0>
            <thead>
                <tr>
                    <th>Actions</th>
                    <th>Cover</th>
                    <th data-sort="string">Game Name</th>
                    <th data-sort="string">System</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
            {% block rows %}
            {% endblock %}
            </tbody>
        </table>
        {% endblock %}
    
        <footer>
        {% block footer%}  
        <a href="/updateAll" title="It works but the new page is bugging out, just refresh the page again">Refresh all Games</a> -
        <a href="/shutdown">Shutdown</a> -
        <a href="/reboot" title="does a hard reboot. this will rescan plugins">Reboot</a>
        <p>Game information and art provided by <a href="http://thegamesdb.net" target="_blank">thegamesdb.net</a>. To add a game or update information, visit this <a href="http://thegamesdb.net" target="_blank">link</a></p>    
        {%endblock%}
        </footer>
        <script src="/js/vendor/jquery-1.9.0.min.js"></script>
        <script src="/js/vendor/jquery-ui-1.10.1.custom.min.js"></script>
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $(".youtube").youtube();
                $(".youtube").fancybox({
                    openEffect  : 'none',
                    closeEffect : 'none',
                    nextEffect  : 'none',
                    prevEffect  : 'none',
                    padding     : 0,
                    margin      : [20, 60, 20, 60] // Increase left/right margin
                });
            });
        </script>
        
        {% block js%}
        {%endblock%}
    </body>
</html>