{% extends "base.html" %}
{% set title = 'Gamez' -%}
{% block rows %}
{% for game in games %}
    <tr id="i_{{ game.id }}">
        <td class="actions">
            <!--
            <a href="/removegame?gid={{ game.id }}"><img src='img/icon.delete.png'/></a>
            <a href="/forcesearch?gid={{ game.id }}"><img src='img/icon.search.png' /></a>
            <a href="/forcepost"><img src='img/icon.folder.gif' /></a>
            <a href="/refreshinfo?thegamesdbid={{ game.tgdb_id }}"><img src='img/icon.reload.png' /></a>
            -->
            <input type="button" value="Search" class="search" onclick="document.location = '/forcesearch?gid={{ game.id }}'"/>
            <input type="button" value="Reload" class="reload" onclick="document.location = '/refreshinfo?gid={{ game.id }}'"/>
            <input type="button" value="Delete" class="delete" onclick="document.location = '/removegame?gid={{ game.id }}'"/>
        </td>
        <td class="cover">
            <img src="{{ game.coverPath() }}" />
        </td>
        <td class="info">
            <h3><a href="http://thegamesdb.net/game/{{ game.tgdb_id }}"/>{{ game.name }}</a></h3>
            <p>{{ game.overview }}</p>
            
            <span class="genre">{% if game.release_date %}Releasedate: {{ game.release_date.strftime('%d %b %Y') }} | {% endif %}{{ game.genre }}</span>
        </td>
        <td>{{ game.platform.name }}
        </td>
        <td class="status">
            <select data-tgdb_id="{{ game.id }}" onchange="document.location = '/updateStatus?gid={{ game.id }}&s=' + $(this).val()")>
                {% for cur_s in s %}
                {% if not cur_s.hidden or cur_s == game.status %}
                <option value="{{ cur_s.id }}"{% if cur_s == game.status %} selected="slected"{% endif %}>{{ cur_s.name }}</option>
                {% endif %}
                {% endfor %}
            </select>
            <input type="button" value="Downloads" onclick="$('#d_{{game.id}}, #i_{{game.id}}').toggleClass('active')"/>
       </td>
    </tr>
    <tr style="display:none;">
        <td colspan="5"></td>
    </tr>
    <tr id="d_{{ game.id }}" class="downloads">
        <td colspan="5">
            <table>
            {% for download in game.downloads%}
                <tr>
                    <td>{{ download.name }}</td>
                    <td>{{ download.status }}</td>
                </tr>
            {% endfor %}
            </table>
        </td>
    </tr>
{% endfor %}
{% endblock %}