{% extends "base.html" %}
{% block rows %}
{% for game in games %}
    <tr>
        <td class="actions">
            <a href="removegame?dbid={{ game.id }}"><img src='img/icon.delete.png'/></a>
            <a href="forcesearch?dbid={{ game.id }}"><img src='img/icon.search.png' /></a>
            <a href="forcepost"><img src='img/icon.folder.gif' /></a>
            <a href="refreshinfo?thegamesdbid={{ game.tgdb_id }}"><img src='img/icon.reload.png' /></a>
        </td>
        <td>
            <img height=120  src="cover/{{ game.tgdb_id }}.jpeg" />
        </td>
        <td>
            <a href="http://thegamesdb.net/game/{{ game.tgdb_id }}"/>{{ game.name }}</a>
        </td>
        <td>{{ game.genres }}</td>
        <td>{{ game.platform.name }}</td>
        <td>{{ game.status.name }}</td>
        <td>
            <select data-tgdb_id="{{ game.id }}" onchange=UpdateGameStatus(this.options[this.selectedIndex].value,'" + db_id + "')>
                <option>---</option>
                {% for cur_s in s %}
                {% if not cur_s.hidden %}
                <option {% if cur_s == game.status %}selected="slected"{% endif %}>{{ cur_s.name }}</option>
                {% endif %}
                {% endfor %}
            </select>
       </td>
    </tr>
{% endfor %}
{% endblock %}