{% extends "base.html" %}
{% block content %}
{% if games %}
<h1>Results</h1>
<table class="display" cellpadding=0 cellspacing=0 border=0>
<thead>
    <tr>
        <th>Actions</th>
        <th>Cover</th>
        <th data-sort="string">Game Name</th>
        <th data-sort="string">Game Type</th>
        <th data-sort="string">System</th>
    </tr>
</thead>
<tbody>
{% for provider, games in games.items() %}
    <tr>
        <td colspan=5>{{ provider }}</td>
    </tr>
    {% for game in games %}
    <tr>
        <td class="actions">
            <input type="button" value="Download" class="download" onclick="document.location = '/addGame?gid={{ game.tgdb_id }}'"/>
            <!-- <a href="/addGame?gid={{ game.tgdb_id }}">Download</a> -->
        </td>
        <td class="cover">
            <img src="{{ game.boxart_url }}" />
        </td>
        <td class="info">
            <h3><a href="http://thegamesdb.net/game/{{ game.tgdb_id }}" target="_blank"/>{{ game.name }}</a></h3>
            <p>{{ game.overview }}</p>
            <span class="genre">Releasedate: {% if game.release_date %}{{ game.release_date.strftime('%d %b %Y') }}{% else %}n/a{% endif %}</span>
        </td>
        <td>{{ game.genre }}</td>
        <td>{{ game.platform.name }}</td>
    </tr>
    {% endfor %}
{% endfor %}
    </tbody>
</table>
{% else %}
<h1>Nothing here</h1>
{% endif %}
{% endblock %}