{% extends "base.html" %}
{% set active_page = active_page|default('settings') -%}
{% block content %}
<h1>Settings</h1>
<form action="/saveSettings" method="POST">
    <div id="plugins">
        {% for plugin in plugins %}
        <h2 id="{{ plugin.name.replace(' ', '_') }}">{{ plugin.name }} <span>{{ plugin._type }}</span></h2>
        <div class="plugin {{ plugin._type }}">
            
            <input class="removeInstance" type="button" value="{% if plugin.instance == 'Default' %}Reset{% else %}Delete{% endif %} this {{ plugin.type }} Instance" data-plugin="{{ plugin.type }}" data-instance="{{ plugin.instance }}"/>
            <ul>
                {% for config in plugin.c.configs %}
                <li {% if plugin['config_meta'][config.name]['human'] %}class="human"{% endif %}>
                    <label>{% if plugin['config_meta'][config.name]['human'] %}{{ plugin['config_meta'][config.name]['human'] }}{% else %}{{ config.name.replace("_", " ") }}{% endif %}</label>
                    {% if config.curType() == 'int' %}
                    <input name="{{ plugin.type }}-{{ plugin.instance }}-{{ config.name}}" type="number" value="{{ config.value }}" {% if plugin['config_meta'][config.name]['placeholder'] %}placeholder="{{ plugin['config_meta'][config.name]['placeholder'] }}"{% endif %}/>
                    {% elif config.curType() == 'bool' %}
                    <input name="{{ plugin.type }}-{{ plugin.instance }}-{{ config.name}}" type="checkbox" {% if config.value %}checked="checked"{% endif %}/>
                    <input name="{{ plugin.type }}-{{ plugin.instance }}-{{ config.name}}" type="hidden" value="off"/>
                    {% elif config.name == 'password' %}
                    <input name="{{ plugin.type }}-{{ plugin.instance }}-{{ config.name}}" type="password" {% if config.value %}value="{{ config.value }}"{% endif %} {% if plugin['config_meta'][config.name]['placeholder'] %}placeholder="{{ plugin['config_meta'][config.name]['placeholder'] }}"{% endif %}/>
                    {% else %}
                    <input name="{{ plugin.type }}-{{ plugin.instance }}-{{ config.name}}" type="text" {% if config.value %}value="{{ config.value }}"{% endif %} {% if plugin['config_meta'][config.name]['placeholder'] %}placeholder="{{ plugin['config_meta'][config.name]['placeholder'] }}"{% endif %}/>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% if not plugin.single %}
            <input id="" type="text"/><input class="newInstance" type="button" value="Create New {{ plugin.type }} Instance" data-plugin="{{ plugin.type }}"/>
            {% endif %}
            <input style="float:right;" type="submit" value="Save" onclick="$('#saveOn').attr('value', '{{ plugin.name.replace(' ', '_') }}')"/>
        </div>
        
        {% endfor %}
    </div>
    <br/>
    <input type="hidden" name="saveOn" id="saveOn" value="">
    <input type="submit" value="Save" style="float:right;"/>
</form>
{% endblock %}

{% block js %}
<script>
  $(function() {
      var activateTo = 0;
     $('#plugins h2').each(function(index, ele){
         console.log($(ele).attr('id'), window.location.hash);
         if( '#' + $(ele).attr('id') == window.location.hash){
             console.log(index)
             activateTo = index;
         }
     });
      console.log(activateTo)
    $( "#plugins" ).accordion({heightStyle: "content", collapsible: true, active: activateTo});
    $("input.newInstance").click(function(){
        if( $(this).prev('input').val() )
                document.location = '/createInstance?plugin=' + $(this).data('plugin') + '&instance=' + $(this).prev('input').val()
        else
            $(this).prev('input').stop().css("background-color", "#FFFF9C").animate({ backgroundColor: "#FFFFFF"}, 1500);
    });
    $("input.removeInstance").click(function(){       
        document.location = '/removeInstance?plugin=' + $(this).data('plugin') + '&instance=' + $(this).data('instance')
    });

    
  });
</script>
{% endblock %}